body{
    margin: 0;
    background-color: #E7F0DC;
}

h1{text-align: center;}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-container{
    margin: 5px;
    border: 1px solid #A0937D;
    background-color: #FFB4C2;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}